@import "tailwindcss";
body{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

/* .blinking-marker {
  transition: fill-opacity 1s ease-in, opacity 0.5s ease-in;
} */

@keyframes pulse {
  0%   { transform: scale(1); opacity: 0.48; }
  25%  { transform: scale(0.8); opacity: 0.36; }
  50%  { transform: scale(0.4); opacity: 0.24; }
  75%  { transform: scale(0.2); opacity: 0.12; }
  /* 100% { transform: scale(0); opacity: 1; } */
}

.pulsing-hotspot {
  animation: pulse 2s ease-in-out infinite;
}